/*ALL*/
.imgresponsive {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.txt {
    color:white !important;
    font-family: 'Nunito Sans', sans-serif;
    font-size: large;
    justify-content: flex-start;
}

.titre {
    font-family: 'Oswald', sans-serif;
    font-size: 120px;
    color: white;
    margin-left:40px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.soustitre {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #EC0A08;
}

.body {
    background-color: #333333;
}

/*NAVBAR*/
.logo {
    width: 100px;
    height: 50px;
}

.mynavbar-bg {
    background-color: #5E5E5E;
}

nav>div>ul>li>a {
    color:white !important;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    justify-content: flex-start;
}

.navelement:hover {
    text-decoration: underline;
    text-decoration-color:#EC0A08;
}

.myburger {
    color: white;
}

.btncolor {
    background-color: #EC0A08;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.btncolor:hover {
    background-color:white;
    color:#EC0A08;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

.navbar-nav {
    justify-content: space-around;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

/*HOME*/
.containerhome {
    background-image: url(../Hackio/images/clafoutis.jpg);
    background-size: cover;
    height: 100vh;
    padding:1px 0;
}

/*PRESENTATION*/
.containerpres{
    background-image: url(../Hackio/images/Sans\ titre\ -\ 2.svg);
    background-size: auto;
    height: 100vh;
    padding:1px 0;
    margin-left: 70px;
}

.marginpres{
    margin-top: 200px;
}

/*ÉCRANS*/
/*FONCTIONNALITÉ*/
.fonctionnaliteesbkn{
    background-size: cover;
    background-color: #9D9D9D;
    height: 600px;
}

.icon {
    width: 100px;
    height: 100px;
}

/*FAQ*/
.btn-link:hover {
    text-decoration: none;
}
.faqsections {
    background-color: #707070;
    color:white !important;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    justify-content: flex-start;
}

.faqsousections {
    background-color: #333333;
    color:white !important;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    justify-content: flex-start;
}

@media (min-width: 320px) and (max-width: 480px) {
    .titre{
      font-size: 65px;
    }
  }

/*ÉQUIPE*/
.equipebkn{
    background-color: #9D9D9D;
    height: 600px;
}

.imgequipe {
    width: 200px;
    height: 200px;
}

/*FOOTER*/
.flexicon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.flexml {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    align-content: stretch;
}
.logo2 {
    width: 200px;
    height: 100px;
}