/*ALL*/
.txt {
    color:white !important;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    justify-content: flex-start;
}

.titre {
    font-family: 'Oswald', sans-serif;
    font-size: 120px;
    color: white;
    margin-left:40px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.soustitre {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #EC0A08;
}

.body {
    background-color: #707070;
}

/*NAVBAR*/
.logo {
    width: 100px;
    height: 50px;
}

.mynavbar-bg {
    background-color: #5E5E5E;
}

nav>div>ul>li>a {
    color:white !important;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    justify-content: flex-start;
}

.navelement:hover {
    text-decoration: underline;
    text-decoration-color:#EC0A08;
}

.myburger {
    color: white;
}

.btncolor {
    background-color: #EC0A08;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.btncolor:hover {
    background-color:white;
    color:#EC0A08;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

.navbar-nav {
    justify-content: space-around;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

/*HOME*/
.containerhome {
    background-image: url(../Hackio/images/2006-03-30_-_Hands.0.0.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*PRESENTATION*/
/*ÉCRANS*/
/*FONCTIONNALITÉ*/
/*FAQ*/
.faqsections {
    background-color: #707070;
    color:white !important;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    justify-content: flex-start;
}

.faqsousections {
    background-color: #333333;
    color:white !important;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    justify-content: flex-start;
}
/*ÉQUIPE*/
/*FOOTER*/
.logo2 {
    width: 200px;
    height: 100px;
}